body {
    display:flex;
    justify-content:center;
    align-items:center;
    flex:auto;
}

#calc-body {
    background-color:black;
    width:540px;
    height:960px;
    display:flex;
    flex-direction:column;
    justify-content:start;

}

.buttons-field {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:flex-end;
    


}

.calc-button {
    border-radius:50;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    width:19%;
    height:20%;
    border-radius:50%;
    padding:4%;
    margin:2%;
    background-color:rgb(83, 100, 128);
    font-size:xx-large;
    

}

.num-button {
    color:white;
}

.operator-button {
    color:rgb(143, 255, 143);
}

#clear-button {
    color:red;
}

#operate-button {
    color:white;
    background-color:rgb(143, 255, 143);
}

#operation-result {
    background-color:gray;
    text-align:end;
    font-size:10em;
}

#input-field, #input {
    height:30%;
    
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
    margin:0;

}

#input-field {
    background-color:black;
    width:100%;
    display:flex;
    flex-direction:column;
    

}

#input {
    width:100%;
    font-size:xx-large;
    font-weight: 500;
    display:flex;
    flex-direction:row;
    padding:0;
    justify-content:flex-start;
    align-items:center;

}

#delete-button {
    margin-left:5%;
    color:red;
    background-color:black;
    font-size:xx-large;
    flex:1 1 1;
}

#input-num {
    color:white;
    flex:0;
    display:flex;
    flex-wrap:wrap;
}

#running-num {
    color:gray;
    text-align:right;
}

#right-side {
    display:flex;
    margin:0;
    padding:0;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    margin-top:1%;
    flex:1;
    
}

.flex-container {
    display:flex;
    flex-direction:row;
}

#parenthesis-button, #neg-button{
    background-color:gray;
    color:lightgray;
}