body {
    display:flex;
    justify-content:center;
    align-items:center;
}
#calc-body {
    background-color:black;
    width:540px;
    height:960px;

}

.buttons-field {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:flex-end;

}

.calc-button {
    border-radius:50;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    width:19%;
    height:20%;
    border-radius:50%;
    padding:4%;
    margin:2%;
    background-color:rgb(83, 100, 128);
    font-size:xx-large;
    

}

.num-button {
    color:white;
}

.operator-button {
    color:rgb(143, 255, 143);
}

#clear-button {
    color:red;
}

#operation-result {
    background-color:gray;
    text-align:end;
    font-size:10em;
}

#input-field, #input {
    height:30%;
    width:100%;
    display:flex;
    justify-content:flex-end;
    flex-direction:column;

}

#input-field {
    background-color:gray;

}

#input {
    width:100%;
    font-size:xx-large;
    font-weight: 500;

}